<%= form_for(@project) do |f|%>

  <div class= "field">
    <%= f.label :title, "Enter name of project" %><br />
    <%= f.text_field :title %>
  </div>

  <div class= "field">
    <%= f.label :privacy, "Public Project?" %>
    <%= radio_button("project", "privacy", "public") %><br />
    <%= f.label :privacy, "Private Project?" %>
    <%= radio_button("project", "privacy", "private") %>
  </div>

  <div class= "field">
    <%= f.submit :class=> "btn btn-inverse btn-large" %>
  </div>
<% end %>