<%= form_for(@project) do |f|%>

  <div class= "field">
    <%= f.label :title, "Enter name of project" %><br />
    <%= f.text_field :title %>
  </div>

  <div class= "field">
    <%= f.label :public, "Public Project?" %>
    <%= radio_button("project", "public", "true") %><br />
    <%= f.label :public, "Private Project?" %>
    <%= radio_button("project", "public", "false") %>
  </div>

  <div class= "field">
    <%= f.submit :class=> "btn btn-inverse btn-large" %>
  </div>
<% end %>