<h2><%= @project.title %></h2>
<div>
  <%= link_to "Create a New List List", new_project_list_path(@project) %>
</div>

<div>
  <ul>
  <% @project.lists.all do |list| %>
    <li><%= list.title %></li>/

    <ul><% list.tasks.each do |task| %>
      <li><%= task.title %> | <%= task.user_id %></li>
    <% end %>
    </ul>
  <%end%>
  </ul>
</div>