<h2><%= @project.title %></h2>
<div>
  <%= link_to "Create a New Todo List", new_project_todo_path(@project) %>
</div>

<div>
  <ul>
  <% @project.todos.all do |todo| %>
    <li><%= todo.inspect %></li>
    <ul><% todo.each do |task| %>
      <li><%= task.title %><%= task.user_id %></li>
    <% end %>
    </ul>
  <%end%>
  </ul>
</div>